<!--<h1>{{ProductName}}</h1>
<table>
    <tr>
        <td>Giá:</td>
        <td>{{Price}}</td>
    </tr>
    <tr>
        <td>Mô Tả:</td>
        <td>{{Description}}</td>
    </tr>
    <tr>
        <td>Bảo hành:</td>
        <td>{{Warranty}}</td>
    </tr>
</table>-->
<h1 style="text-align:center">{{ProductName}}</h1>
<table class="table" style="text-align:center" border="1">
    <thead class="thead-light">
        <tr>
            <th scope="col">Giá</th>
            <th scope="col">Mô Tả</th>
            <th scope="col">Bảo hành</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{Price}}</td>
            <td>{{Description}}</td>
            <td>{{Warranty}}</td>
        </tr>
    </tbody>
</table>